<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" />
    <title>File Transfer USB -> COM -> ...</title>
</head>

<body>
    <h1>File Transfer via USB and COM 🚀</h1>
    <div class="form-container">
        <h3>1. Save File to Pendrive</h3>
        <button id="saveBtn" class="button">Save to Pendrive</button>
    </div>

    <div class="form-container">
        <h3> 2. COM file transfer</h3>
        <form id="comfiletransfer" action="/sendViaCOM" method="POST" onsubmit="return capitalizeComPort();">
            <input type="text" placeholder="COM ex.: COM3" name="com-port" id="com-port" required>
            <label for="baudrate">Select Baud Rate:</label>
            <select id="baudrate" name="baudrate">
                <option value="9600">9600</option>
                <option value="19200">19200</option>
                <option value="38400">38400</option>
                <option value="57600">57600</option>
                <option value="115200">115200</option>
                <option value="128000">128000</option>
                <option value="256000">256000</option>
                <!-- Add more options as needed -->
            </select>
            <input type="submit" value="Send File Via COM Port" class="button">
        </form>
    </div>

    <div id="response"></div>

    <div class="form-container">
        <h3>3. Save Data to posts.json file in project directory [data\posts.json]</h3>
        <form action="/submit" method="POST">
            <input type="text" placeholder="Data for json file" name="data" required>
            <input type="submit" value="Save to File" class="button">
        </form>
    </div>

    <h3>4. Control panel -> data is being saved to json file</h3>
    <div class="grid-container">
        <h5>Power</h5>
        <div class="row" id="row1">
            <div class="cell" data-color="green" data-index="0"></div>
            <div class="cell" data-color="green" data-index="1"></div>
            <div class="cell" data-color="green" data-index="2"></div>
            <div class="cell" data-color="green" data-index="3"></div>
            <div class="cell" data-color="green" data-index="4"></div>
        </div>
        <h5>Heat</h5>
        <div class="row" id="row2">
            <div class="cell" data-color="red" data-index="0"></div>
            <div class="cell" data-color="red" data-index="1"></div>
            <div class="cell" data-color="red" data-index="2"></div>
            <div class="cell" data-color="red" data-index="3"></div>
            <div class="cell" data-color="red" data-index="4"></div>
            <button id="saveControlPanelBtn" class="button">Save settings to file</button>
        </div>
    </div>

    <br />
    <br />

    <div class="circle-container">
        <div class="circle">
            <div class="point" id="draggable-point"></div>
            <div class="percentage" id="percentage">0%</div>

        </div>

    </div>

    <br />
    <br />
    <hr>
    <h4>Your JSON file looks as follows... 👇</h4>
    <ul>
        <% if (locals.jsonData) { %>
            <% Object.entries(jsonData).forEach(([key, value])=> { %>
                <li>
                    <%= key %>: <%= JSON.stringify(value) %>
                </li>
                <% }); %>
                    <% } %>
    </ul>


    <script src="/scripts/script.js" defer></script>
</body>

</html>